* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
--ff-heading: 'Staatliches', sans-serif;

--bg-primary: #8E9AAF;

--fc-primary: #ffffff;  
--fc-secundary:  #4A4E69;

font-size: 62.5%;
}


header {  
  text-align: center;
  font-weight: 400;  
  font-family: var(--ff-heading);

  background-color: var(--bg-primary);
  color: var(--fc-primary);

  animation: topdown 700ms;
  
}

body {
  text-align: center;
  font-weight: 400;
  font-family: var(--ff-heading);
  color: var(--fc-secundary);
  line-height: 3.4rem;
  

  margin-top: 40;
  margin-top: 50;
}

/*após o encapsulamento no HTML do header e main esse
 .page define a largura máxima da caixa (max-width: 33rem;)
 e (margin: 0 auto;) para centralizar e ficar mais estilo Mobile*/
.page {
    max-width: 33rem;
    margin: 0 auto;
}

@media (min-width: 700px) {
  main {
    grid-template-columns: 1fr 1fr;
  }

@media (min-width:930px) {
  .page {
    max-width: 117rem;
    padding: 0 5rem;
  }
  
  main {
    grid-template-areas: "A B B"
    "C C D ";
  }
  
  main div:nth-child(1) {
    grid-area: A;
  }
  
  main div:nth-child(2) {
    grid-area: B;
  }
  
  main div:nth-child(3) {
    grid-area: C;
  }
  
  main div:nth-child(4) {
    grid-area: D;
  }
  
}

}

/*aqui define a lagura máxima da imagem na caixa(width: 100%;)
e a altura deacordo com sua proporção dentro dos 100%(height: auto;)*/
img {
  width: 100%;
  height: auto;
  
}

header p {
margin: 40 0 50;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 40px;

display: flex;
align-items: center;
text-align: center;
}

main p {

  color: #4A4E69;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  
  
  left: 37.57%;
  right: 21.32%;
  top: 50.51%;
  bottom: 47.3%;
}

.card {
  position: relative; 
  font-family: var(--ff-heading);
  
}

/*definindo a altura da imagem(height: 25rem;)
e esse é para definir que a imagem faça uma 
coberttura da caixa( object-fit: cover;) e efeitos na imagem (transition: transform 200ms;)*/
.card img {
  height: 25rem;
  object-fit: cover;

  border-radius: 20px;

 
  transition: all 200ms;
  
}

/*aqui colou efeito na img*/
.card img:hover {
  transform: scale(1.1);
  opacity: 0.4;
}

/*faz com que os textos fiquem sobrepostos na imagem*/
.card h2 {
 position: absolute; 
 top: 2rem;
 right: 2rem;
}

/*configurações do texto em forma de botão dentro da imagem*/
.card h2 span {
  border-radius: 2rem;
  background-color: #f0d8ea;
  font-size: 3rem;
  font-weight: 400;
  color: #4A4E69;
  padding: 0 1.6rem;
  height: 3.8rem;
}

header img {
  width: 50%;
  height: 50;
 
}

main {
  
  background-color:#EFF1FF;
  gap: 2rem;
  display: grid;
   font-size: 35px;


  *animation: downtop 700ms 350ms backwards; 
}


header h1 span {
  background-color:  #a037eb;
  font-size: 35px;
  padding: 0 45.3rem;
  font-family: var(--ff-heading);

  
}

/*para colocar animações em determinados campos da página, nesse código foi colocado no header*/
@keyframes topdown {
  0% {
    opacity: 0;
    transform: translateY(-15px);

  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/*para colocar animações em determinados campos da página, nesse código foi colocado no main*/
@keyframes downtop {
    0% {
      opacity: 0;
      transform: translateY(15px);
  
    }
  
    100% {
      opacity: 1;
      transform: translateY(0);
  
    }
}    

  
